@{
    ViewData["Title"] = "Domovská Stránka";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
    <h6>ToDo List:</h6>
    <ul>
        <li>
            Repozitáře pro modely
        </li>
        <li>
            Zkusit si dependency injection
        </li>
        <li>
            Unit of work
        </li>
        <li>
            Unit testing
        </li>       
    </ul>

